1. Imports

In [5]:
import pandas as pd

1. Carregando o conjunto de dados

In [6]:
#Carregando o conjunto de dados
df = pd.read_csv('../data/raw/Churn_Modelling.csv')

#Exibindo informações básicas e as primeiras linhas
data_info = df.info() 
data_head = df.head()

data_info, data_head

<class 'pandas.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  str
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  str
 5   Gender           10000 non-null  str
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), str(3)
memory usage: 1.1 MB

(None,
    RowNumber  CustomerId   Surname  CreditScore Geography  Gender  Age  \
 0          1    15634602  Hargrave          619    France  Female   42
 1          2    15647311      Hill          608     Spain  Female   41
 2          3    15619304      Onio          502    France  Female   42
 3          4    15701354      Boni          699    France  Female   39
 4          5    15737888  Mitchell          850     Spain  Female   43

    Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
 0       2       0.00              1          1               1
 1       1   83807.86              1          0               1
 2       8  159660.80              3          1               0
 3       1       0.00              2          0               0
 4       2  125510.82              1          1               1

    EstimatedSalary  Exited
 0        101348.88       1
 1        112542.58       0
 2        113931.57       1
 3         93826.63       0
 4         79084.10       0  )

2. Pré-processamento de dados

In [ ]:
# Verificando quantidade de valores nulos
porcentagem = df.isnull().mean() * 100
porcentagem

RowNumber          0.0
CustomerId         0.0
Surname            0.0
CreditScore        0.0
Geography          0.0
Gender             0.0
Age                0.0
Tenure             0.0
Balance            0.0
NumOfProducts      0.0
HasCrCard          0.0
IsActiveMember     0.0
EstimatedSalary    0.0
Exited             0.0
dtype: float64